.coin {
    opacity: 0;
    animation: coin 0.8s infinite;
}

@keyframes coin {
    0%{
        opacity: 1;
        top: 0px;
    }

    50%{
        opacity: 1;
        top: -50px;
    }

    80% {
        opacity: 0.6;
    }

    100% {
        opacity: 0;
        top: 0;
    }

}