@import "ground.css";
@import "coin.css";
@import "cloud.css";
@import "message_board.css";

@font-face {
    font-family: press-star;
    src: url('./PressStart2P-Regular.ttf');
}

.font-press-star{
    font-family: press-star, serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.h-available {
    min-height: calc(var(--vh, 1vh) * 100);
}
