.message_board {
    opacity: 0;
    bottom: 10%;
    width: 45px;
    height: 45px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 7px 4px 6px black;
    border: 7px outset #E4C8C7;
}

.message_board_animate {
    animation: message_board_animate 0.8s;
    animation-fill-mode: forwards;
}

@keyframes message_board_animate {
    0%{
        opacity: 0;
        bottom: 10%;
        width: 45px;
        height: 45px;
    }

    100% {
        opacity: 1;
        bottom: 50%;
        width: 60%;
        height: 345px;
    }

}

.hover-effect:hover::before{
    content: "";
    background-image: url('../images/mushroom.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
}